 <footer>
      <div class="container" id="foo">
        <div class="row">
          <div class="col-sm">
            <p>&copy;serputov.today<br> anatoliy@serputov.today</p>
          </div>
          <div class="col-sm">
            <p>&copy;2020 Site By Anatoliy Serputov(serputoff@gmail.com)</p>
       
          </div>
          <div class="col-sm" id="foot">
            <h2 class="footer">Follow Me</h2>
                 <a href="https://instagram.com/serputovv" class="fa fa-facebook"><img src="inst.png" width="30wv" height="30vw"></a>
                 <a href="https://twitter.com/Anatoli66535009" class="fa fa-twitter"><img src="twitter.png" width="30wv" height="30vw"></a><br>
          </div>
         
        </div>
      </div>
    
    </footer>
    <img src="baloon.png" class="responsive" id="bal">