  <header>
  <nav class="navbar navbar-expand-lg navbar-light" id="logo">
    <a class="navbar-brand" href="#" id="logo1"><img src="logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../listings">Listings<span class="sr-only">()</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../#about1">About<span class="sr-only">()</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../#about">Promotions<span class="sr-only">()</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" id="become" href="../reg">Become a host<span class="sr-only">()</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" ></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="globe.svg" class="responsive">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><img src="globe.svg" class="responsive" id="ln"> English(CA)</a>
            <a class="dropdown-item" href="#">$ CAD</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Inner peace" aria-label="Search" id="serch">
        <a href="../searchresl">  <button class="btn btn-outline my-2 my-sm-0" type="submit" id="search" >Let's Fly</button></a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="login">
         Login
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1" id="sign">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" id="sign" name="username" required="required" pattern="[A-Za-z0-9]{1,20}">
                 <br><br>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" id="sign1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" id="sign1" name="username" required="required" pattern="[A-Za-z0-9]{1,20}">
                  </div>
                  <div class="form-check">
                    
                    <a href="../reg"><label> No Account?SingUp!</label></a>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
             
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nav>
</header>