<!doctype html>
<html>

<head>
  {{> head}}
</head>

<body>
   {{> header}} 
   <div id="form" >
    <h1 id="admin">Admin - DASHBOARD</h1>
  <h3>Hello, {{usr.username}}</h3>
  <hr>
  <p>Here is the information we have on file for you:</p>
  <hr>
  <h4>Surname: {{usr.lastName}} </h4>
  <h4>Name: {{usr.firstName}}</h4>
  <a href="Profile">Your profile</a>
  <hr>


  <h1>Add AirBnb Ad</h1>
  <a href="bnb">View List Of Bnbs</a>
   </div>


            {{> footer }}

</body>

</html>