<!-- 
  //==============================================
// Name:           Anatoliy Serputov
// Student Number: 167389188
// Email:          aserputov@myseneca.ca
// Section:        NBB
// Date:           04/10/2020
//============================================== -->
<!DOCTYPE html>
<html lang="en">
  {{>head}}
<body>
  {{> header}} 
  <!-- <hr> -->
<main>


  
  <div class="row" id="regr">
      <div class="col-sm-3" id="left">
        <h1 id="lef">Welcome,<br>to prepare your trip</h1>
        <img src="symbol.png" class="responsive" id="symbol">
      </div>
      <div class="col-sm-6" id="maim">
        

        <form id="form" >
          <h1 >What Place ?</h1>
          <div class="form-group">
            <label for="inputAddress">Where?</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Anywhere.. or 221B Baker st">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Check-In</label>
              <input type="date" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Checkout</label>
              <input type="date" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Guests</label>
            
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>1+</option>
                <option>2+</option>
                <option>3+</option>
                <option>4+</option>
                <option>5+</option>
              </select>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="Maybe? London!รง">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>ON</option>
                <option>QC</option>
                <option>NS</option>
                <option>NB</option>
                <option>BC</option>
                <option>PE</option>
                <option>SK</option>
                <option>AB</option>
                <option>NL</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
          
          </div>
         <a href="/searchres"><span type="submit" class="btn btn-primary"  id ="fly">Fly</span></a>
        </form>


      </div>
      <div class="col-sm-3"  id="right">
        <img src="cloud.png" class="responsive" id="step1">
        <img src="cloud.png" class="responsive" id="step2">
        <img src="cloud.png" class="responsive" id="step3">
        <img src="cloud.png" class="responsive" id="step4">
        <img src="cloud.png" class="responsive" id="step5">
      </div>
    </div>
 
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="send.png" class="responsive" id="send">
        </div>
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
        
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          
        </div>
        <div class="col-sm-8" >
         <h1 id="about">Promotions</h1> 
        <hr>
        </div>
        <div class="col-sm-2">
        
        </div>
      </div>
    </div>
    

    <div class="container">
      
      <div class="row" id="regr">
      
        <div class="col-sm-5">
         
          <br>
          <div class="card mb-3" style="max-width: 540px;" id="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="plane.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card mb-3" style="max-width: 540px;" id="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="plane.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
         
          <br>
          <div class="card mb-3" style="max-width: 540px;" id="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="plane.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card mb-3" style="max-width: 540px;" id="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="plane.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
   
    <br>    <br>
   
    

        <div class="col-sm-1">
        
        </div>
      </div>
    </div>
    <br><br>
  
    
    <div class="container" id="abo">
      <div class="row">
        <div class="col-sm-2">
          
        </div>
        <div class="col-sm-8" >
          <br>
         <h1 id="about1">About Us</h1> 
         <hr>
         <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
           It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
           Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
           consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, 
           discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
           (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-sm-2">
          <img src="plane1.png" class="responsive" id="send1">
        </div>
      </div>
    </div>
  
</main>
<br><br><br>
    <button id="location-button">Get User Location</button>
    <div id="output"></div>
     {{> footer}}
  
 <script>
          $('#location-button').click(function(){
        
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                  console.log(position);
                  $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                    console.log(data);
                  })
                  var img = new Image();
                  img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=800x400&sensor=false";
                  $('#output').html(img);
                });
                
            }
          });
  </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>