<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{> header}} 
   
        <!-- <hr> -->
      <main>
      
      
        
        <div class="row" id="regr">
            <div class="col-sm-1" id="left">
            </div>
            <div class="col-sm-10" id="txt" >
              <h1 >All Listings</h1>
              <hr>v
              <div class="container">
                <div class="row">
                  <div class="col-sm">

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"> <img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"><img src="https://a0.muscache.com/im/pictures/ee5dc107-1ce7-4739-861f-dff9073cadb4.jpg?im_w=1200" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"> <img src="https://a0.muscache.com/im/pictures/ba85bc18-6acd-4106-b11d-01c7d440a31a.jpg?im_w=1200" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"><img src="https://a0.muscache.com/im/pictures/2659b431-8ddd-47b4-8dd3-28f9bc313abe.jpg?im_w=720" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"> <img src="https://a0.muscache.com/im/pictures/ba85bc18-6acd-4106-b11d-01c7d440a31a.jpg?im_w=1200" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <a href="roomdetails.html"><img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img" alt="..." id="imm"></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                 
                </div>
              </div>
            
          
      
      
            </div>
            <div class="col-sm-1"  id="right">
            </div>
          </div>
       
      </main>
      <br><br><br>
        {{> footer}}

    

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>