<!-- 
  //==============================================
// Name:           Anatoliy Serputov
// Student Number: 167389188
// Email:          aserputov@myseneca.ca
// Section:        NBB
// Date:           04/10/2020
//============================================== -->
<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{> header}} 
        <!-- <hr> -->
      <main>
      
      
        
        <div class="row" id="regr">
            <div class="col-sm-1" id="left">
            </div>
            <div class="col-sm-10" id="txt" >
              <h1>Search Results</h1>
              <hr>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <a href="roomdetails.html">  <img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <a href="roomdetails.html">  <img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a short card.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <a href="roomdetails.html">  <img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <a href="error.html">  <img src="https://a0.muscache.com/im/pictures/fa87a770-d6ee-4ef1-b34b-699176fae90c.jpg?im_w=1200" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          
      
      
            </div>
            <div class="col-sm-1"  id="right">
            </div>
          </div>
       
      </main>
      <br><br><br>
           {{> footer}}
    

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>